<div class="hero-unit">
	<h1>Get Off My Bumper!</h1>
	<p><br>
		See someone driving out of control?<br><br>
		Want to leave a message for that cute girl you saw at the red light?<br><br>
		Notice someone's brake lights are out?<br><br><br>

		Leave them a message here!<br>
	</p>

	<p><br>
		<%= link_to "Sign Up Now!", :new_user_registration, class: "btn btn-primary btn-large" %>
	</p>
</div>