<div class="footer">
	<small>
		This is a work-in-progress by <%= link_to "John van der Wal", "http://about.me/johnvanderwal" %>.<br><br>

		Have a suggestion for a better site name? Email him <%= link_to "here", "mailto:johntvanderwal@gmail.com"%>.
	</small>
</div>